<div class="flex items-center gap-0.5 rounded-lg bg-gray-100 p-0.5 dark:bg-gray-900">
  <button
    (click)="setSelected('optionOne')"
    class="px-3 py-2 font-medium w-full rounded-md text-theme-sm hover:text-gray-900 dark:hover:text-white"
    [ngClass]="getButtonClass('optionOne')"
  >
    Capturados
  </button>

  <button
    (click)="setSelected('optionTwo')"
    class="px-3 py-2 font-medium w-full rounded-md text-theme-sm hover:text-gray-900 dark:hover:text-white"
    [ngClass]="getButtonClass('optionTwo')"
  >
    Facturados
  </button>
</div>
